ul
	each option in options
		li
			.row.span6
				.cell.span5
					//- input(id=name+'_'+option.name, name=name+'_'+option.name, type="checkbox", data-value=option.name)
					i(data-value=option.name, class=option.checked?'fa fa-check-square-o':'fa fa-square-o')
					label(data-value=option.name)= ucfirst(option.name)
				.cell.span1.alignright
					.count= option.count