//- ul
//- 	each option, index in options
//- 		- randomId = generateID();

//- 		if index < 50
//- 			li
//- 				.row.span6(data-count=option.get('count'))
//- 					.cell.span5
//- 						input(id=randomId, name=randomId, type="checkbox", data-value=option.id, checked=option.get('checked')?true:false)
//- 						label(for=randomId)!= option.id === ':empty' ? '<em>(empty)</em>' : option.id
//- 					.cell.span1.alignright
//- 						.count= option.get('count') === 0 ? option.get('total') : option.get('count')