li(data-count=option.get('count'))
	input(id=randomId, name=randomId, type="checkbox", data-value=option.id, checked=option.get('checked')?true:false)
	label(for=randomId)!= option.id === ':empty' ? '<em>(empty)</em>' : option.id
	.count= option.get('count') === 0 ? option.get('total') : option.get('count')