include ../svg-icons.jade

- options = model.get('options')

.placeholder
	header
		h3(title=model.get('title'))= model.get('title')
		.menu
			if options != null && options.length != null && options.length > 9
				+filter-icon(title=config.get('labels').filterOptions)
				+sort-count-ascending-icon(className="count", title=config.get('labels').sortNumerically)
				+sort-count-descending-icon(className="count visible active", title=config.get('labels').sortNumerically)
				+sort-alphabetically-ascending-icon(className="alpha visible", title=config.get('labels').sortAlphabetically)
				+sort-alphabetically-descending-icon(className="alpha", title=config.get('labels').sortAlphabetically)
		.options

	.body