.row.span2.align.middle
	.cell.span1.casesensitive
		input#cb_casesensitive(type="checkbox", name="cb_casesensitive", data-attr="caseSensitive")
		label(for="cb_casesensitive") Match case
	.cell.span1.fuzzy
		input#cb_fuzzy(type="checkbox", name="cb_fuzzy", data-attr="fuzzy")
		label(for="cb_fuzzy") Fuzzy

if model.has('searchInAnnotations') || model.has('searchInTranscriptions')
	h4 Search
	ul.searchins
		if model.has('searchInTranscriptions')
			li.searchin
				input(id="cb_searchin_transcriptions", type="checkbox", data-attr="searchInTranscriptions", checked=model.get('searchInTranscriptions'))
				label(for!="cb_searchin_transcriptions") Transcriptions
				
				if model.has('textLayers')
					ul.textlayers
						each textLayer in model.get('textLayers')
							li.textlayer
								input(id='cb_textlayer'+textLayer, type="checkbox", data-attr-array="textLayers", data-value=textLayer, checked=true)
								label(for='cb_textlayer'+textLayer)= textLayer
		if model.has('searchInAnnotations')
			li.searchin
				input(id="cb_searchin_annotations", type="checkbox", data-attr="searchInAnnotations", checked=model.get('searchInAnnotations'))
				label(for!="cb_searchin_annotations") Annotations
